*.apk
*.aab
*.ap_
*.a_
*.so
*.dex
*.class
**/build/
.gradle/
**/gradle/
**/gradlew
**/gradlew.bat
local.properties
**/local.properties
.idea/
*.iml
*.nav_graph.xml
*.orig
*.jks
*.keystore
.DS_Store
Thumbs.db
captures/
output.json
